body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.tweet_list {
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}
	
.tweet_list li, .rssBody li {
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0.5em;
	list-style-type: circle;
	border-top: 1px solid #ccc;
}

.rssHeader {
	display: none;
}

.rssBody ul {
	margin-left: 0;
	padding-left: 0;
}